body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.auto{
    background-color: rgba(101, 67, 72, 0.438);
    border-radius: 15px;
    padding: 10px;
    
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}

.history{
    margin: 40px;
    background-color:  rgba(101, 67, 72, 0.438);
    width: 300px;
    text-align: center;
    padding: 30px;
    color: aliceblue;

}
